$containerWidth: 940px;
$containerHeight: 730px;
$imgMaxWidth: 260px;
$imgHeight: 200px;
$btnWidth: 60px;
$btnHeight: 60px;

$headerTextSize: 32px;
$textSize: 18px;
$elementGap: 10px;
$elBorderRadius: 5px;